{% if current_user.is_authenticated %}
    {% if current_user.id == 1 %}
        {% extends "admin_nav.html" %}
    {% else %}
        {% extends "customer_nav.html" %}
    {% endif %}
{% else %}
    {% extends "layout.html" %}
{% endif %}
{% block content %}
    <div class="container" style="border: 1px solid #ccc; width: 600px; height:auto;">
        <div class="text pt-4 pb-2">
            <h1>You don't have permission to do that (403)</h1>
            <br>
            <p>Please check your account and try again</p>
        </div>
    </div>
{% endblock content %}