<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin_dashboard.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="overview">
                <div class="title">
                    <h2 class="section--title"><b>Overview</b></h2>
                    <select name="option" id="option" class="dropdown">
                        <option value="all">ALL</option>
                        <option value="patients">PATIENTS</option>
                        <option value="pending">PENDING</option>
                        <option value="accepted">ACCEPTED</option>
                        <option value="rejected">REJECTED</option>
                        <option value="notfinished">NOT FINISHED</option>
                        <option value="finished">FINISHED</option>
                        <option value="cancelled">CANCELLED</option>
                    </select>
                </div>
                <div class="cards">
                    <div class="card card-2">
                        <div class="card--data">
                            <div class="card--content">
                                <h5 class="card--title" style="font-size:x-large;">Total Patients</h5>
                                <h1 id="noOfPatients"></h1>
                            </div>
                            <i class="ri-user-line card--icon--1g"></i>
                        </div>
                    </div>
                    <div class="card card-3">
                        <div class="card--data">
                            <div class="card--content">
                                <h5 class="card--title" style="font-size:x-large;">Pending</h5>
                                <h1 id="noOfAppPending"></h1>
                            </div>
                            <i class="ri-hourglass-fill card--icon--1g"></i>
                        </div>
                    </div>
                    <div class="card card-4">
                        <div class="card--data">
                            <div class="card--content">
                                <h5 class="card--title" style="font-size:x-large;">Not Finished</h5>
                                <h1 id="noOfAppNotFinished"></h1>
                            </div>
                            <i class="ri-calendar-2-line card--icon--1g"></i>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="recent--patients">
                <div class="appointment-table" id="appointment-table" style="display: block;">
                <table>
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>USER ID</th>
                            <th>DATE</th>
                            <th>TIME</th>
                            <th>SERVICE</th>
                            <th>ACTION</th>
                            <th>STATUS</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
                </div>
                <div class="user-table" id="user-table" style="display: none;">
                <table>
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>PATIENT ID</th>
                            <th>AGE</th>
                            <th>EMAIL</th>
                            <th>PHONE</th>
                            <th>ADDRESS</th>
                            <th>NO. OF APPOINTMENTS</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    
        <script src="https://unpkg.com/scrollreveal"></script>
        <script type="text/javascript" src="js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script>
        document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('option').addEventListener('change', function () {
        // Get the selected value
        var selectedValue = this.value;

        // Perform actions based on the selected value
        switch (selectedValue) {
            case 'all':
                document.getElementById('user-table').style.display = 'none';
                document.getElementById('appointment-table').style.display = 'block';
                displayAppointment();
                console.log('All selected');
                break;
            case 'patients':
                document.getElementById('appointment-table').style.display = 'block';
                document.getElementById('user-table').style.display = 'block';
                displayPatients();
                displayAppointmentsPatient();
                break;
            case 'pending':
                document.getElementById('user-table').style.display = 'none';
                document.getElementById('appointment-table').style.display = 'block';
                displayAppointmentPending();
                console.log('Pending selected');
                break;
            case 'accepted':
                document.getElementById('user-table').style.display = 'none';
                document.getElementById('appointment-table').style.display = 'block';
                displayAppointmentAccepted();
                console.log('Accepted selected');
                break;
            case 'rejected':
                document.getElementById('user-table').style.display = 'none';
                document.getElementById('appointment-table').style.display = 'block';
                displayAppointmentRejected();
                console.log('Rejected selected');
                break;
            case 'notfinished':
                document.getElementById('user-table').style.display = 'none';
                document.getElementById('appointment-table').style.display = 'block';
                displayAppointmentNotFinished();
                console.log('Not Finished selected');
                break;
            case 'finished':
                document.getElementById('user-table').style.display = 'none';
                document.getElementById('appointment-table').style.display = 'block';
                displayAppointmentFinished();
                console.log('Finished selected');
                break;
            case 'cancelled':
                document.getElementById('user-table').style.display = 'none';
                document.getElementById('appointment-table').style.display = 'block';
                displayAppointmentCancelled();
                console.log('Rejected selected');
                break;
            default:
                // Default case
                console.log('Invalid option selected');
                break;
        }
    });
});
            displayAppointment();
            displayTotalPatients();
            displayPendingAppointments();
            displayNotFinishedAppointments();

async function getAppointmentsAll() {
    try {
        const response = await fetch('/get/appointment_data_dashboard', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({}),
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }

        const data = await response.json();
        return data.appointmentAll;
    } catch (error) {
        console.error('Error fetching occupied times:', error);
        return [];
    }
}

async function getPatientsAll() {
    try {
        const response = await fetch('/get/appointment_data_dashboard', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({}),
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }

        const data = await response.json();
        return data.patientAll;
    } catch (error) {
        console.error('Error fetching occupied times:', error);
        return [];
    }
}
async function getAppointmentsPatient() {
    try {
        const response = await fetch('/get/appointment_data_dashboard', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({}),
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }

        const data = await response.json();
        return data.appointmentPatient;
    } catch (error) {
        console.error('Error fetching occupied times:', error);
        return [];
    }
}

async function getAppointmentsPending() {
    try {
        const response = await fetch('/get/appointment_data_dashboard', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({}),
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }

        const data = await response.json();
        return data.appointmentPending;
    } catch (error) {
        console.error('Error fetching occupied times:', error);
        return [];
    }
}

async function getAppointmentsAccepted() {
    try {
        const response = await fetch('/get/appointment_data_dashboard', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }

        const data = await response.json();
        return data.appointmentAccepted;
    } catch (error) {
        console.error('Error fetching occupied times:', error);
        return [];
    }
}

async function getAppointmentsRejected() {
    try {
        const response = await fetch('/get/appointment_data_dashboard', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }

        const data = await response.json();
        return data.appointmentRejected;
    } catch (error) {
        console.error('Error fetching occupied times:', error);
        return [];
    }
}

async function getAppointmentsNotFinished() {
    try {
        const response = await fetch('/get/appointment_data_dashboard', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }

        const data = await response.json();
        return data.appointmentNotFinished;
    } catch (error) {
        console.error('Error fetching occupied times:', error);
        return [];
    }
}

async function getAppointmentsFinished() {
    try {
        const response = await fetch('/get/appointment_data_dashboard', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }

        const data = await response.json();
        return data.appointmentFinished;
    } catch (error) {
        console.error('Error fetching occupied times:', error);
        return [];
    }
}

async function getAppointmentsCancelled() {
    try {
        const response = await fetch('/get/appointment_data_dashboard', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }

        const data = await response.json();
        return data.appointmentCancelled;
    } catch (error) {
        console.error('Error fetching occupied times:', error);
        return [];
    }
}

async function getTotalPatients() {
    try {
        const response = await fetch('/get/appointment_data_dashboard', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }

        const data = await response.json();
        return data.totalPatients;
        console.log(totalPatients)
    } catch (error) {
        console.error('Error fetching occupied times:', error);
        return '';
    }
}

async function getPendingAppointments() {
    try {
        const response = await fetch('/get/appointment_data_dashboard', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        });
        
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        
        const data = await response.json();
        return data.pendingAppointments;
    } catch (error) {
        console.error('Error fetching occupied times:', error);
        return '';
    }
}

async function getNotFinishedAppointments() {
    try {
        const response = await fetch('/get/appointment_data_dashboard', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        });
        
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        
        const data = await response.json();
        return data.notFinishedAppointments;
    } catch (error) {
        console.error('Error fetching occupied times:', error);
        return '';
    }
}

async function displayTotalPatients() {
    try {
        const totalPatientsPromise = getTotalPatients(); // Get the promise
        const totalPatients = await totalPatientsPromise; // Wait for the promise to resolve

        // Check if the promise has resolved successfully
        if (totalPatientsPromise && totalPatientsPromise instanceof Promise) {
            document.getElementById('noOfPatients').innerText = totalPatients;
        } else {
            console.error('Invalid promise:', totalPatientsPromise);
        }
    } catch (error) {
        console.error('Error displaying total patients:', error);
    }
}

async function displayPendingAppointments() {
    try {
        const pendingAppointmentsPromise = getPendingAppointments(); // Get the promise
        const pendingAppointments = await pendingAppointmentsPromise; // Wait for the promise to resolve

        // Check if the promise has resolved successfully
        if (pendingAppointmentsPromise && pendingAppointmentsPromise instanceof Promise) {
            document.getElementById('noOfAppPending').innerText = pendingAppointments;
        } else {
            console.error('Invalid promise:', pendingAppointmentsPromise);
        }
    } catch (error) {
        console.error('Error displaying total patients:', error);
    }
}

async function displayNotFinishedAppointments() {
    try {
        const notFinishedAppointmentsPromise = getNotFinishedAppointments(); // Get the promise
        const notFinishedAppointments = await notFinishedAppointmentsPromise; // Wait for the promise to resolve

        // Check if the promise has resolved successfully
        if (notFinishedAppointmentsPromise && notFinishedAppointmentsPromise instanceof Promise) {
            document.getElementById('noOfAppNotFinished').innerText = notFinishedAppointments;
        } else {
            console.error('Invalid promise:', notFinishedAppointmentsPromise);
        }
    } catch (error) {
        console.error('Error displaying total patients:', error);
    }
}

async function displayPatients() {
    try {
        const appointment_per_day = await getPatientsAll();
        console.log(appointment_per_day);
        let tableBody = document.querySelector('.user-table table tbody');
        tableBody.innerHTML = '';

        // Create a multidimensional array to store appointment data
        let appointmentArray = [];

        appointment_per_day.forEach(tuple => {
            const name = tuple[0];
            const id = tuple[1];
            const age = tuple[2];
            const email = tuple[3];
            const contact = tuple[4];
            const address = tuple[5];
            const appointment_count = tuple[6]

            // Add each tuple as an array to the multidimensional array
            appointmentArray.push([name, id, age, email, contact, address, appointment_count]);
            // Do something with id, name, email, phone, service...
                
            let row = `
                <tr>
                    <td>${name}</td>                        
                    <td>${id}</td>                        
                    <td>${age}</td>
                    <td>${email}</td>
                    <td>${contact}</td>
                    <td>${address}</td>
                    <td>${appointment_count}</td>
                </tr>
                `;
            tableBody.innerHTML += row;
            }
        )
    } catch (error) {
        console.error("Error fetching appointments:", error);
    }
}

async function displayAppointmentsPatient() {
    try {
        const appointment_per_day = await getAppointmentsPatient();
        console.log(appointment_per_day);
        let tableBody = document.querySelector('.appointment-table table tbody');
        tableBody.innerHTML = '';

        // Create a multidimensional array to store appointment data
        let appointmentArray = [];

        appointment_per_day.forEach(tuple => {
            const id = tuple[0];
            const name = tuple[1];
            const date = tuple[2];
            const time = tuple[3];
            const service = tuple[4];
            const action = tuple[5];
            const status = tuple[6]
            const user_id = tuple[7];

            // Add each tuple as an array to the multidimensional array
            appointmentArray.push([id, name, date, time, service, action, status, user_id]);
            // Do something with id, name, email, phone, service...
                
            let row = `
                <tr>
                    <td>${name}</td>                        
                    <td>${user_id}</td>                        
                    <td>${date}</td>
                    <td>${time}</td>
                    <td>${service}</td>
                    <td ${action === 'PENDING' ? 'class="pending"' : 
                        action === 'ACCEPTED' ? 'class="confirmed"' :
                        action === 'REJECTED' ? 'class="rejected"' : ''}>
                        ${action}</td>
                    <td ${status === 'NOT FINISHED' ? 'class="notFinished"' : 
                        status === 'FINISHED' ? 'class="finished"' :
                        status === 'CANCELLED' ? 'class="cancelled"' : ''}>
                        ${status}</td>
                </tr>
                `;
            tableBody.innerHTML += row;
            }
        )
    } catch (error) {
        console.error("Error fetching appointments:", error);
    }
}

async function displayAppointment() {
    try {
        const appointment_per_day = await getAppointmentsAll();
        console.log(appointment_per_day);
        let tableBody = document.querySelector('.appointment-table table tbody');
        tableBody.innerHTML = '';

        // Create a multidimensional array to store appointment data
        let appointmentArray = [];

        appointment_per_day.forEach(tuple => {
            const id = tuple[0];
            const name = tuple[1];
            const date = tuple[2];
            const time = tuple[3];
            const service = tuple[4];
            const action = tuple[5];
            const status = tuple[6]
            const user_id = tuple[7];

            // Add each tuple as an array to the multidimensional array
            appointmentArray.push([id, name, date, time, service, action, status, user_id]);
            // Do something with id, name, email, phone, service...
                
            let row = `
                <tr>
                    <td>${name}</td>                        
                    <td>${user_id}</td>                        
                    <td>${date}</td>
                    <td>${time}</td>
                    <td>${service}</td>
                    <td ${action === 'PENDING' ? 'class="pending"' : 
                        action === 'ACCEPTED' ? 'class="confirmed"' :
                        action === 'REJECTED' ? 'class="rejected"' : ''}>
                        ${action}</td>
                    <td ${status === 'NOT FINISHED' ? 'class="notFinished"' : 
                        status === 'FINISHED' ? 'class="finished"' :
                        status === 'CANCELLED' ? 'class="cancelled"' : ''}>
                        ${status}</td>
                </tr>
                `;
            tableBody.innerHTML += row;
            }
        )
    } catch (error) {
        console.error("Error fetching appointments:", error);
    }
}

async function displayAppointmentPending() {
    try {
        const appointment_per_day = await getAppointmentsPending();
        console.log(appointment_per_day);
        let tableBody = document.querySelector('.appointment-table table tbody');
        tableBody.innerHTML = '';

        // Create a multidimensional array to store appointment data
        let appointmentArray = [];

        appointment_per_day.forEach(tuple => {
            const id = tuple[0];
            const name = tuple[1];
            const date = tuple[2];
            const time = tuple[3];
            const service = tuple[4];
            const action = tuple[5];
            const status = tuple[6]
            const user_id = tuple[7];

            // Add each tuple as an array to the multidimensional array
            appointmentArray.push([id, name, date, time, service, action, status, user_id]);
            // Do something with id, name, email, phone, service...
                
            let row = `
                <tr>
                    <td>${name}</td>                        
                    <td>${user_id}</td>                        
                    <td>${date}</td>
                    <td>${time}</td>
                    <td>${service}</td>
                    <td ${action === 'PENDING' ? 'class="pending"' : 
                        action === 'ACCEPTED' ? 'class="confirmed"' :
                        action === 'REJECTED' ? 'class="rejected"' : ''}>
                        ${action}</td>
                    <td ${status === 'NOT FINISHED' ? 'class="notFinished"' : 
                        status === 'FINISHED' ? 'class="finished"' :
                        status === 'CANCELLED' ? 'class="cancelled"' : ''}>
                        ${status}</td>
                </tr>
                `;
            tableBody.innerHTML += row;
            }
        )
    } catch (error) {
        console.error("Error fetching appointments:", error);
    }
}

async function displayAppointmentAccepted() {
    try {
        const appointment_per_day = await getAppointmentsAccepted();
        console.log(appointment_per_day);
        let tableBody = document.querySelector('.appointment-table table tbody');
        tableBody.innerHTML = '';

        // Create a multidimensional array to store appointment data
        let appointmentArray = [];

        appointment_per_day.forEach(tuple => {
            const id = tuple[0];
            const name = tuple[1];
            const date = tuple[2];
            const time = tuple[3];
            const service = tuple[4];
            const action = tuple[5];
            const status = tuple[6]
            const user_id = tuple[7];

            // Add each tuple as an array to the multidimensional array
            appointmentArray.push([id, name, date, time, service, action, status, user_id]);
            // Do something with id, name, email, phone, service...
                
            let row = `
                <tr>
                    <td>${name}</td>                        
                    <td>${user_id}</td>                        
                    <td>${date}</td>
                    <td>${time}</td>
                    <td>${service}</td>
                    <td ${action === 'PENDING' ? 'class="pending"' : 
                        action === 'ACCEPTED' ? 'class="confirmed"' :
                        action === 'REJECTED' ? 'class="rejected"' : ''}>
                        ${action}</td>
                    <td ${status === 'NOT FINISHED' ? 'class="notFinished"' : 
                        status === 'FINISHED' ? 'class="finished"' :
                        status === 'CANCELLED' ? 'class="cancelled"' : ''}>
                        ${status}</td>
                </tr>
                `;
            tableBody.innerHTML += row;
            }
        )
    } catch (error) {
        console.error("Error fetching appointments:", error);
    }
}

async function displayAppointmentRejected() {
    try {
        const appointment_per_day = await getAppointmentsRejected();
        console.log(appointment_per_day);
        let tableBody = document.querySelector('.appointment-table table tbody');
        tableBody.innerHTML = '';

        // Create a multidimensional array to store appointment data
        let appointmentArray = [];

        appointment_per_day.forEach(tuple => {
            const id = tuple[0];
            const name = tuple[1];
            const date = tuple[2];
            const time = tuple[3];
            const service = tuple[4];
            const action = tuple[5];
            const status = tuple[6]
            const user_id = tuple[7];

            // Add each tuple as an array to the multidimensional array
            appointmentArray.push([id, name, date, time, service, action, status, user_id]);
            // Do something with id, name, email, phone, service...
                
            let row = `
                <tr>
                    <td>${name}</td>                        
                    <td>${user_id}</td>                        
                    <td>${date}</td>
                    <td>${time}</td>
                    <td>${service}</td>
                    <td ${action === 'PENDING' ? 'class="pending"' : 
                        action === 'ACCEPTED' ? 'class="confirmed"' :
                        action === 'REJECTED' ? 'class="rejected"' : ''}>
                        ${action}</td>
                    <td ${status === 'NOT FINISHED' ? 'class="notFinished"' : 
                        status === 'FINISHED' ? 'class="finished"' :
                        status === 'CANCELLED' ? 'class="cancelled"' : ''}>
                        ${status}</td>
                </tr>
                `;
            tableBody.innerHTML += row;
            }
        )
    } catch (error) {
        console.error("Error fetching appointments:", error);
    }
}

async function displayAppointmentNotFinished() {
    try {
        const appointment_per_day = await getAppointmentsNotFinished();
        console.log(appointment_per_day);
        let tableBody = document.querySelector('.appointment-table table tbody');
        tableBody.innerHTML = '';

        let appointmentArray = [];

        appointment_per_day.forEach(tuple => {
            const id = tuple[0];
            const name = tuple[1];
            const date = tuple[2];
            const time = tuple[3];
            const service = tuple[4];
            const action = tuple[5];
            const status = tuple[6]
            const user_id = tuple[7];

            // Add each tuple as an array to the multidimensional array
            appointmentArray.push([id, name, date, time, service, action, status, user_id]);
            // Do something with id, name, email, phone, service...
                
            let row = `
                <tr>
                    <td>${name}</td>                        
                    <td>${user_id}</td>                        
                    <td>${date}</td>
                    <td>${time}</td>
                    <td>${service}</td>
                    <td ${action === 'PENDING' ? 'class="pending"' : 
                        action === 'ACCEPTED' ? 'class="confirmed"' :
                        action === 'REJECTED' ? 'class="rejected"' : ''}>
                        ${action}</td>
                    <td ${status === 'NOT FINISHED' ? 'class="notFinished"' : 
                        status === 'FINISHED' ? 'class="finished"' :
                        status === 'CANCELLED' ? 'class="cancelled"' : ''}>
                        ${status}</td>
                </tr>
                `;
            tableBody.innerHTML += row;
            }
        )
    } catch (error) {
        console.error("Error fetching appointments:", error);
    }
}

async function displayAppointmentFinished() {
    try {
        const appointment_per_day = await getAppointmentsFinished();
        console.log(appointment_per_day);
        let tableBody = document.querySelector('.appointment-table table tbody');
        tableBody.innerHTML = '';

        // Create a multidimensional array to store appointment data
        let appointmentArray = [];

        appointment_per_day.forEach(tuple => {
            const id = tuple[0];
            const name = tuple[1];
            const date = tuple[2];
            const time = tuple[3];
            const service = tuple[4];
            const action = tuple[5];
            const status = tuple[6]
            const user_id = tuple[7];

            // Add each tuple as an array to the multidimensional array
            appointmentArray.push([id, name, date, time, service, action, status, user_id]);
            // Do something with id, name, email, phone, service...
                
            let row = `
                <tr>
                    <td>${name}</td>                        
                    <td>${user_id}</td>                        
                    <td>${date}</td>
                    <td>${time}</td>
                    <td>${service}</td>
                    <td ${action === 'PENDING' ? 'class="pending"' : 
                        action === 'ACCEPTED' ? 'class="confirmed"' :
                        action === 'REJECTED' ? 'class="rejected"' : ''}>
                        ${action}</td>
                    <td ${status === 'NOT FINISHED' ? 'class="notFinished"' : 
                        status === 'FINISHED' ? 'class="finished"' :
                        status === 'CANCELLED' ? 'class="cancelled"' : ''}>
                        ${status}</td>
                </tr>
                `;
            tableBody.innerHTML += row;
            }
        )
    } catch (error) {
        console.error("Error fetching appointments:", error);
    }
}

async function displayAppointmentCancelled() {
    try {
        const appointment_per_day = await getAppointmentsCancelled();
        console.log(appointment_per_day);
        let tableBody = document.querySelector('.appointment-table table tbody');
        tableBody.innerHTML = '';

        // Create a multidimensional array to store appointment data
        let appointmentArray = [];

        appointment_per_day.forEach(tuple => {
            const id = tuple[0];
            const name = tuple[1];
            const date = tuple[2];
            const time = tuple[3];
            const service = tuple[4];
            const action = tuple[5];
            const status = tuple[6]
            const user_id = tuple[7];

            // Add each tuple as an array to the multidimensional array
            appointmentArray.push([id, name, date, time, service, action, status, user_id]);
            // Do something with id, name, email, phone, service...
                
            let row = `
                <tr>
                    <td>${name}</td>                        
                    <td>${user_id}</td>                        
                    <td>${date}</td>
                    <td>${time}</td>
                    <td>${service}</td>
                    <td ${action === 'PENDING' ? 'class="pending"' : 
                        action === 'ACCEPTED' ? 'class="confirmed"' :
                        action === 'REJECTED' ? 'class="rejected"' : ''}>
                        ${action}</td>
                    <td ${status === 'NOT FINISHED' ? 'class="notFinished"' : 
                        status === 'FINISHED' ? 'class="finished"' :
                        status === 'CANCELLED' ? 'class="cancelled"' : ''}>
                        ${status}</td>
                </tr>
                `;
            tableBody.innerHTML += row;
            }
        )
    } catch (error) {
        console.error("Error fetching appointments:", error);
    }
}
</script>
<script src="https://unpkg.com/scrollreveal"></script>
<script>
    const sr= ScrollReveal({
    distance: '60px',
    duration: 2000
    })
    sr.reveal('.container',{delay:200, origin:'top'})
</script>

</body>
    
    {% extends "admin_nav.html" %}
    {% block content %}
    {% endblock content %}
</html>
