<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='announcement.css') }}">
    <title>Announcements</title>
  </head>
  <body style="background-color: #2b96b9;">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {% for post in posts.items %}
          <fieldset>
            <article class="media content-section">
              <img class="rounded-circle article-img" src="{{ url_for('static', filename = 'profile_pics/' + post.author.image_file) }}"> <!--profile ng mismong author-->
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ post.author.username }}</a>
                  <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
              </div>
            </article>
          </fieldset>
          {% endfor %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Clinic Hours</h3>
            <p>Appointment Only
              <ul class="list-group list-group-custom">
                <li class="list-group-item list-group-item-light">Tuesday 9:00 A.M. - 4:00 P.M.</li>
                <li class="list-group-item list-group-item-light">Wednesday 9:00 A.M. - 4:00 P.M.</li>
                <li class="list-group-item list-group-item-light">Thursday 9:00 A.M. - 4:00 P.M.</li>
                <li class="list-group-item list-group-item-light">Friday 9:00 A.M. - 4:00 P.M.</li>
              </ul>
            </p>
            <p>Walk In Patients Only
              <ul class="list-group list-group-custom">
                <li class="list-group-item list-group-item-light">Monday 9:00 A.M. - 4:00 P.M.</li>
                <li class="list-group-item list-group-item-light">Saturday 9:00 A.M. - 4:00 P.M.</li>
              </ul>
            </p>
            <p>Contact Us</p>
            <div class="contact-icons">
              <a href="https://www.facebook.com/smileplazaDC" target="_blank"><i class='fa fa-facebook-f' ></i></a>
              <a href="https://maps.app.goo.gl/792nLswoVTeMA8ZG7" target = "_blank"><i class='fa fa-map-marker' ></i></a>
              <a href="/contact" ><i class='fa fa-envelope'></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination">
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if posts.page_num == page_num %}
              <a class="btn btn-info mb-4 mr-1" href="{{ url_for('announcement', page=page_num) }}">{{ page_num }}</a>
            {% else %}
              <a class="btn btn-outline-info mb-4 mr-1" href="{{ url_for('announcement', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
          {% else %}
            ...
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% if current_user.is_authenticated %}
      {% if current_user.id == 3 %}
        {% extends "admin_nav.html" %}
      {% else %}
        {% extends "customer_nav.html" %}
      {% endif %}
    {% endif %}
  </body>
</html>
