<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Appointment</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='appointment.css') }}">
 
</head>
<body>
  <div class="calendar">
    <div class="header">
      <button id="prevMonth"><</button>
      <h3 id="monthYear"></h3>
      <button id="nextMonth">></button>
    </div>
    <div class="weekdays">
      <div>Sun</div>
      <div>Mon</div>
      <div>Tue</div>
      <div>Wed</div>
      <div>Thu</div>
      <div>Fri</div>
      <div>Sat</div>
    </div>
    <div class="days" id="days"></div>
  </div>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  
<!-- Display area for available time slots -->
<div class="disabledSlots" id="disabledSlots" style="display: none;">
  <h4>No available slots for this day.</h4>
</div>

<div class="timeSlots" id="timeSlots" style="display: none;">
  <h4>Available Time Slots</h4>
  <div class="timeSlotGrid" id="timeSlotGrid"></div>
</div>
<!-- Selected time slot display -->
<div class="selectedSlot" id="selectedSlot"></div>

<!-- Services dropdown -->
<select id="servicesDropdown" style="display: none;">
  <option value="" disabled selected>Select a service</option>
  <option value="Dental Consultation">Dental Consultation</option>
  <option value="Dental Braces">Dental Braces</option>
  <option value="Oral Prophylaxis">Oral Prophylaxis</option>
  <option value="Oral Prophylaxis">Tooth Restoration</option>
  <option value="Oral Prophylaxis">Tooth Extraction</option>
  <option value="Oral Prophylaxis">Odontectomy</option>
  <option value="Oral Prophylaxis">Dentures</option>
  <!-- Add other service options here -->
</select>

<!-- Submit button -->
<button id="submitButton" style="display: none;">Submit</button>
  
  <script>
	const monthYearElement = document.getElementById('monthYear');
const daysElement = document.getElementById('days');
const prevMonthBtn = document.getElementById('prevMonth');
const nextMonthBtn = document.getElementById('nextMonth');

let currentDate = new Date();
let currentYear = currentDate.getFullYear();
let currentMonth = currentDate.getMonth();

function updateCalendar(year, month) {
  const daysInMonth = new Date(year, month + 1, 0).getDate();
  const firstDayOfMonth = new Date(year, month, 1).getDay();
  const lastDayOfMonth = new Date(year, month + 1, 0).getDay();
  
  monthYearElement.textContent = `${getMonthName(month)} ${year}`;

  daysElement.innerHTML = '';
  for (let i = 0; i < firstDayOfMonth; i++) {
    const emptyDay = document.createElement('div');
    emptyDay.classList.add('emptyDay')
    daysElement.appendChild(emptyDay);
  }

  for (let day = 1; day <= daysInMonth; day++) {
    const dayDiv = document.createElement('div');
    dayDiv.textContent = day;

    const dayOfWeek = new Date(year, month, day).getDay();
    if (dayOfWeek === 0 || dayOfWeek === 1 || dayOfWeek === 6) {
      dayDiv.classList.add('disabled'); // You can style these days as disabled
      dayDiv.addEventListener('click', async () => {
        if (dayDiv.classList.contains('disabled') || emptyDay.classList.contains('emptyDay')) {
          document.getElementById('timeSlots').style.display = 'none';
          document.getElementById('selectedSlot').style.display = 'none';
          document.getElementById('servicesDropdown').style.display = 'none';
          document.getElementById('submitButton').style.display = 'none';
          document.getElementById('disabledSlots').style.display = 'block';
        } 
      })
    } 
    else {
      dayDiv.addEventListener('click', async () => {
        // Only call showAvailableSlots for enabled days
        if (!dayDiv.classList.contains('disabled')) {
          document.getElementById('disabledSlots').style.display = 'none';
          await showAvailableSlots(year, month, day);
        } 
      });
    }

    daysElement.appendChild(dayDiv);
  }

  for (let i = 6; i > lastDayOfMonth; i--) {
    const emptyDayafter = document.createElement('div');
    emptyDayafter.classList.add('emptyDayafter')
    daysElement.appendChild(emptyDayafter);

    dayDiv.addEventListener('click', async () => {
        if (emptyDayafter.classList.contains('emptyDayafter')) {
          document.getElementById('timeSlots').style.display = 'none';
          document.getElementById('selectedSlot').style.display = 'none';
          document.getElementById('servicesDropdown').style.display = 'none';
          document.getElementById('submitButton').style.display = 'none';
          document.getElementById('disabledSlots').style.display = 'block';
        } 
      })
  }
}

function getMonthName(month) {
  const monthNames = [
    'January', 'February', 'March', 'April', 'May', 'June',
    'July', 'August', 'September', 'October', 'November', 'December'
  ];
  return monthNames[month];
}

function goToPreviousMonth() {
  currentMonth--;
  if (currentMonth < 0) {
    currentMonth = 11;
    currentYear--;
  }
  updateCalendar(currentYear, currentMonth);
}

function goToNextMonth() {
  currentMonth++;
  if (currentMonth > 11) {
    currentMonth = 0;
    currentYear++;
  }
  updateCalendar(currentYear, currentMonth);
}

prevMonthBtn.addEventListener('click', goToPreviousMonth);
nextMonthBtn.addEventListener('click', goToNextMonth);

updateCalendar(currentYear, currentMonth);

async function getAvailableTimeSlots(selectedDate) {
    try {
        const response = await fetch('/get_available_times', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ selectedDate: selectedDate}),
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }

        const data = await response.json();
        return data.availableTimes;
    } catch (error) {
        console.error('Error fetching occupied times:', error);
        return [];
    }
}

async function showAvailableSlots(year, month, day) {
  // Remove the 'selected' class from previously selected day(s)
  const selectedDays = document.querySelectorAll('.days div.selected');
  selectedDays.forEach(selectedDay => {
    selectedDay.classList.remove('selected');
  });

  const selectedDate = new Date(year, month, day + 1);

  try {
    const occupiedTimes = await getAvailableTimeSlots(selectedDate);

    const timeSlotGridContainer = document.getElementById('timeSlotGrid');
    timeSlotGridContainer.innerHTML = ''; // Clear previous slots

    if (occupiedTimes.length > 0) {
      // Display available time slots in a grid with boxes
      occupiedTimes.forEach(slot => {
        const slotBox = document.createElement('div');
        slotBox.classList.add('timeSlotItem');
        slotBox.textContent = slot; // Display the time slot text

        // Add click event to select the time slot
        slotBox.addEventListener('click', () => selectTimeSlot(selectedDate, slot));

        timeSlotGridContainer.appendChild(slotBox);
      });

      // Highlight the selected day by adding 'selected' class
      const clickedDay = document.createElement('div');
      clickedDay.textContent = day;
      clickedDay.classList.add('selected');
      clickedDay.addEventListener('click', async () => await showAvailableSlots(year, month, day)); // Keep the day clickable

      // Display the time slots section after clicking a date
      document.getElementById('timeSlots').style.display = 'block';
    } else {
      // If no available time slots, hide the time slots container
      document.getElementById('timeSlots').style.display = 'none';
    }
  } catch (error) {
    console.error('Error fetching occupied times:', error);
  }
}

async function sendSelectedDataToBackend(selectedDate, selectedSlot, selectedService) {
    try {
        const response = await fetch('/get_appointment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                selectedDate: selectedDate.toISOString(),
                selectedSlot: selectedSlot,
                selectedService: selectedService,
            }),
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }

        const data = await response.json();

        console.log('Response from backend:', data);

        window.location.href = '/home';
    } catch (error) {
        console.error('Error sending data to backend:', error);
    }
}

function selectTimeSlot(selectedDate, slot) {
    const selectedSlotElement = document.getElementById('selectedSlot');
    selectedSlotElement.textContent = `Selected day: ${selectedDate}Selected time slot: ${slot}`;
    // Show the services dropdown
    const servicesDropdown = document.getElementById('servicesDropdown');
    servicesDropdown.style.display = 'block';

    // Show the submit button
    const submitButton = document.getElementById('submitButton');
    submitButton.style.display = 'block';

    // Attach event listener to the submit button
    submitButton.addEventListener('click', () => {
        const selectedService = servicesDropdown.value;
        
        if (!selectedService) {
            alert('Please select a service.');
        }
        else {
            sendSelectedDataToBackend(selectedDate, slot, selectedService);
        }
    })
}

  </script>

{% extends "layout.html" %}
{% block content %}
{% endblock content %}

</body>
</html>