<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contact.css') }}">
        <title>Contact Us</title>
	</head>
	<body>
        <section class="contact" id="contact">
            <div class="contact-text">
                <h2>Contact Us</h2>
                <h4>Visit us for consultation!</h4>
                <p>Smile Plaza Dental Center is ready to cater to your dental needs. Ensuring your smile is at its best, and providing a comfortable and rewarding dental experience.</p>
                <div class="list">
                    <li><a href="#"><span><img src=""></span>0932 737 3878</a></li>
                    <li><a href="#">smileplazadental2020@gmail.com</a></li>
                    <li><a href="#">Nadres St., Poblacion, Candelaria, Quezon</a></li>
                </div>
                <div class="contact-icons">
                    <a href="https://www.facebook.com/smileplazaDC" target="_blank"><i class='fa fa-facebook-f' ></i></a>
                    <a href="https://maps.app.goo.gl/792nLswoVTeMA8ZG7" target = "_blank"><i class='fa fa-map-marker' ></i></a>
                    <a href="#contact" ><i class='fa fa-envelope'></i></a>
                </div>
            </div>
            <div class="contact-form">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-group mb-0">
                        {{ form.name(size=32, placeholder="Enter your name")}}
                    </div>
                    <div class="form-group mb-0">
                        {{ form.email(size=32, placeholder="Enter your email") }}
                    </div>
                    <div class="form-group mb-0">
                        {{ form.contact_number(size=32, placeholder="Enter your contact number") }}
                    </div>
                    <div class="form-group mb-0">
                        {{ form.subject(size=32, placeholder="Enter subject of email") }}
                    </div>
                    <div class="form-group mb-0">
                        {{ form.message(rows=7, placeholder="How can we help you?") }}
                    </div>
                    <div class="form-group mb-0" 
                        onmouseover="this.querySelector('input[type=submit]').style.backgroundColor='#2b96b9'; this.querySelector('input[type=submit]').style.boxShadow='4px 4px #056892';"
                        onmouseout="this.querySelector('input[type=submit]').style.backgroundColor='#056892'; this.querySelector('input[type=submit]').style.boxShadow='4px 4px #b9f1ee';">
                        {{ form.submit(
                            style="background-color: #056892; 
                            color: #fff; 
                            padding: 8px 12px; 
                            width: 120px;
                            border:none;
                            border-radius: 5px;
                            box-shadow: 4px 4px #b9f1ee;
                            font-size: 1rem;
                            font-weight: 500;
                            letter-spacing: 1px;
                            font-weight: 600;
                            transition: all .45s ease;"
                            ) }}
                    </div>
                </form>        
            </div>
        </section >
		{% extends "layout.html" %}
		{% block content %}
		{% endblock content %}
	</body>
</html>
