{% if current_user.is_authenticated %}
    {% extends "customer_nav.html" %}
{% endif %}
{% block content %}
    <body>
        <div class="container" style="border: solid 1px; border-radius: 2px; border-color: #ccc; width:565px;">
            <div class="col-md-12">
                <br>
                <div class="media">
                <img class="rounded-circle account-img" src="{{ image_file }}">
                <div class="media-body">
                    <h2 class="account-heading">{{ current_user.username }}</h2>
                    <p class="text-secondary">{{ current_user.FName }} {{current_user.MidName}} {{current_user.LName}}<br>
                        {{ current_user.address }}<br>
                            <p>Patient ID: {{ current_user.id }}</p>
                    </p>
                </div>
                </div>
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Account Info</legend>
                        <div class="form-group">
                            {{ form.username.label(class="form-control-label") }}
        
                            {% if form.username.errors %}
                                {{ form.username(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.contact.label(class="form-control-label") }}
                            {% if form.contact.errors %}
                                {{ form.contact(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.contact.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.contact(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.picture.label() }}
                            {{ form.picture(class="form-control-file") }}
                            {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                    <span class="text-danger">{{ error }}</span></br>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(
                            class="btn btn-outline-info",
                            style="background-color: #056892; 
                            color: #fff; 
                            padding: 8px 12px; 
                            width: 120px;
                            border:none;
                            border-radius: 5px;
                            box-shadow: 4px 4px #b9f1ee;
                            font-size: 1rem;
                            font-weight: 500;
                            letter-spacing: 1px;
                            font-weight: 600;
                            transition: all .45s ease;") }}
                    </div>
                </form>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="overview">
                <div class="title">
                    <h2 class="section--title"><b>History</b></h2>
                </div>

            </div>
            <br>
            <div class="recent--patients" >
                <div class="scroll-container">
                <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>DATE</th>
                            <th>TIME</th>
                            <th>SERVICE</th>
                            <th>ACTION</th>
                            <th>STATUS</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
                </div>
                </div>
            </div>
        </div>
    
        <script src="https://unpkg.com/scrollreveal"></script>
        <script type="text/javascript" src="js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script>
displayAppointment();
async function getAppointmentsAll() {
    try {
        const response = await fetch('/get/appointment_data_dashboard', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({}),
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }

        const data = await response.json();
        return data.userAppointments;
    } catch (error) {
        console.error('Error fetching occupied times:', error);
        return [];
    }
}

async function displayAppointment() {
    try {
        const appointment_per_day = await getAppointmentsAll();
        console.log(appointment_per_day);
        let tableBody = document.querySelector('.table tbody');
        tableBody.innerHTML = '';

        // Create a multidimensional array to store appointment data
        let appointmentArray = [];

        appointment_per_day.forEach(tuple => {
            const id = tuple[0];
            const name = tuple[1];
            const date = tuple[2];
            const time = tuple[3];
            const service = tuple[4];
            const action = tuple[5];
            const status = tuple[6]
            const user_id = tuple[7];

            // Add each tuple as an array to the multidimensional array
            appointmentArray.push([id, name, date, time, service, action, status, user_id]);
            // Do something with id, name, email, phone, service...
                
            let row = `
                <tr>
                    <td>${name}</td>                       
                    <td>${date}</td>
                    <td>${time}</td>
                    <td>${service}</td>
                    <td ${action === 'PENDING' ? 'class="pending"' : 
                        action === 'ACCEPTED' ? 'class="confirmed"' :
                        action === 'REJECTED' ? 'class="rejected"' : ''}>
                        ${action}</td>
                    <td ${status === 'NOT FINISHED' ? 'class="notFinished"' : 
                        status === 'FINISHED' ? 'class="finished"' :
                        status === 'CANCELLED' ? 'class="cancelled"' : ''}>
                        ${status}</td>
                </tr>
                `;
            tableBody.innerHTML += row;
            }
        )
    } catch (error) {
        console.error("Error fetching appointments:", error);
    }
}

</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', 'Sans-serif';
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
    width: 100%;
}

.main--content{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100% - 300px);
    padding: 0 40px;
    
    transition: .3s;
    
}

.main--content.active{
    width: calc(100% - 103px);
}



.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 100px;
}

.section--title{
    font-weight: 400;
    
}


.dropdown{
   outline: none; 
   border: none;
   background-color: #f1f4f8;
   border-radius: 5px;
   width: 150px;
   padding: 5px;
}

.cards{
    display: flex;
    gap: 20px;
}

div.card{
    border: 0px;
    padding: 20px;
    border-radius: 20px;
    min-width: 230px;
    height: auto;
    transition: .3s;
    background-color: rgba(200, 230, 250, 0.3);
}
div.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card--data{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card h1{
    font-size: 30px;
    margin-top: 10px;
}

.card--icon--1g{
    font-size: 80px;
}

.card--stats span{
    display: flex;
    align-items: center;
}

.card--icon{
    margin-right: 5px;
}

.stat--icon{
    color: #056892;
}

.up--arrow{
    color: #70d7a5;
}

.down--arrow{
    color: #e86786;
}

.card-1 .card--title{
    color: #2b96b9;
}

.card-1 .card--icon--1g{
    color: #2b90b1;
}

.card-2 .card--title{
    color: #2b96b9;
}

.card-2 .card--icon--1g{
    color: #2b90b1;
}

.card-3 .card--title{
    color: #2b96b9;
}

.card-3 .card--icon--1g{
    color: #2b90b1;
}

/* dentists */

.doctors--right--btns{
    display: flex;
    align-items: center;
    gap: 30px;
}

.add{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    outline: none;
    border: none;
    background-color: #2b96b9;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.add:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.add i{
    margin-right: 10px;
    padding: 5px;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
}

.doctors--cards{
    display: flex;
    gap: 20px;
}

.doctor--card{
    padding: 20px;
    border-radius: 20px;
    height: auto;
    transition: .3s;
    border: 2px solid #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8rem;
}

.doctor--card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.img--box--cover{
    border: 1px solid #2b90b1;
    padding: 2px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;

}

.img--box{
    position: relative;
    width: 71px;
    height: 71px;
    overflow: hidden;
    border-radius: 50%;
}

.scheduled{
    color: #2b90b1;
}

/* recent--patients */
.scroll-container {
    width: calc(70% + 1000px);
    padding: 0 10px;
    overflow-y: scroll; /* Change to 'scroll' */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    min-height: 100px;
    max-height: 400px; /* Ensures full height */
    box-sizing: border-box; /* Include padding in the width calculation */
}
/* Centered content */
.overview, .recent--patients {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 20px; /* Adjust the margin as needed */
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: transparent;  
}

tr{
    border-bottom: 1px solid #f1f1f1;
}

td,th{
    padding-block: 10px;
}

.edit{
    color: #70d7a5;
    margin: 10px;
}

.delete{
    color: #e86786;
}

.pending{
    color: #f1d243;
}
.confirmed{
    color: #70d7a5;
}
.rejected{
    color: #e86786;
}


/* responsive starts here */

@media screen and (max-width:1089px){
    .cards, 
    .doctors--cards{
        overflow-x: scroll;
    }
}

@media screen and (max-width:887px){
    table{
        min-width: 710;
    }
}

@media screen and (max-width:787px){
    .logo{
        padding-left: 30px;
        width: fit-content;
    }
    .search--notification--profile{
        padding: 0 20px;
        margin-left: auto;
    }
    .main--content{
        padding: 0 20px;
    }
    .sidebar{
        padding: 0 20px;
    }
    .sidebar.active{
        width: 85px;
    }
    .main--content.active{
        width: calc(100% - 85px);
    }   
}

@media screen and (max-width:590px){
    .search, .lock, .chat{
        display: none;
    }

    .notification--profile{
        margin-left: auto;
    }
    .search--notification--profile{
        width: fit-content;
    }
    .sidebar{
        transform: translateX(-100%);
        z-index: 10;
        background-color: #fff;
    }

    .sidebar.active{
        transform: translateX(0);
        width: 300px;
    }
    .sidebar.active .sidebar--item{
        display: block;
    }
    .main--content{
        width: calc(100% - 0px);
    }
    .main--content.active{
        width: calc(100% - 0px);
    }
}

@media screen and (max-width:450px){
    .doctor--filter{
        display: none;
    }
    .main--content{
        padding: 0 10px;
    }
    .logo{
        padding-left: 10px;
    }
    .search--notification--profile{
        padding: 0 10px;
    }
    .sidebar{
        padding: 10px;
    }
}


.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}
  
  .article-title {
    color: #444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    color: #fff;
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  

</style>
    </body>
{% endblock content %}
