{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check" style="cursor: pointer;">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            {{ form.recaptcha()}}
            <div class="invalid-feedback" style="cursor: pointer;">
                {% for error in form.recaptcha.errors %}
                    <span>{{ error }}</span>
                {% endfor %} 
            </div>
            <br>
            <div class="form-group"
                onmouseover="this.querySelector('input[type=submit]').style.backgroundColor='#2b96b9'; this.querySelector('input[type=submit]').style.boxShadow='4px 4px #056892';"
                onmouseout="this.querySelector('input[type=submit]').style.backgroundColor='#056892'; this.querySelector('input[type=submit]').style.boxShadow='4px 4px #b9f1ee';">
                {{ form.submit(
                    class="btn btn-outline-info",
                    style="background-color: #056892; 
                    color: #fff; 
                    padding: 8px 12px; 
                    width: 120px;
                    border:none;
                    border-radius: 5px;
                    box-shadow: 4px 4px #b9f1ee;
                    font-size: 1rem;
                    font-weight: 500;
                    letter-spacing: 1px;
                    font-weight: 600;
                    transition: all .45s ease;"
                ) }}
                <small class="text-muted ml-2">
                    <a href="{{ url_for('users.reset_password_request') }}">Forgot Password?</a>
                </small>
            </div>
        </form>
    </div>
    <div class="border-top pt-1">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{ url_for('users.register') }}">Sign Up Now</a>
        </small>
    </div>
    <!--recaptcha script-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock content %}