{% extends "layout.html" %}
{% block content %}
    <body>
        <div class="content-section">
            {{ form.hidden_tag() }}
            <form method="post" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Password</legend>
                    <div class="form-group">
                        {{ form.email.label (class="form-control-label") }}<br>
                        {{ form.email(size=64, style="width: 500px; height: 50px; border-radius: 8px;") }}<br>
                        {% for error in form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %} <br>
                    </div>
                    <div class="form-group" 
                        onmouseover="this.querySelector('input[type=submit]').style.backgroundColor='#2b96b9'; this.querySelector('input[type=submit]').style.boxShadow='4px 4px #056892';"
                        onmouseout="this.querySelector('input[type=submit]').style.backgroundColor='#056892'; this.querySelector('input[type=submit]').style.boxShadow='4px 4px #b9f1ee';">
                        {{ form.submit(
                            style="background-color: #056892; 
                            color: #fff; 
                            padding: 8px 12px; 
                            width: 300px;
                            border:none;
                            border-radius: 5px;
                            box-shadow: 4px 4px #b9f1ee;
                            font-size: 1rem;
                            font-weight: 500;
                            letter-spacing: 1px;
                            font-weight: 600;
                            transition: all .45s ease;"
                        ) }}
                    </div>
                </fieldset>
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/scrollreveal"></script>
        <script>
            const sr= ScrollReveal({
            distance: '60px',
            duration: 500
            })
            sr.reveal('.content-section',{delay:200, origin:'top'})
        </script>
    </body>
{% endblock %}

