{% extends "layout.html" %}
{% block content %}
    <body>
        <div class="content-section">
             <legend class="border-bottom mb-4">Reset Your Password</legend>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32, style="width: 500px; height: 50px; border-radius: 8px;") }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password2.label }}<br>
                    {{ form.password2(size=32, style="width: 500px; height: 50px; border-radius: 8px;") }}<br>
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <div class="form-group mb-0" 
                    onmouseover="this.querySelector('input[type=submit]').style.backgroundColor='#2b96b9'; this.querySelector('input[type=submit]').style.boxShadow='4px 4px #056892';"
                    onmouseout="this.querySelector('input[type=submit]').style.backgroundColor='#056892'; this.querySelector('input[type=submit]').style.boxShadow='4px 4px #b9f1ee';">
                    {{ form.submit(
                        style="background-color: #056892; 
                        color: #fff; 
                        padding: 8px 12px; 
                        width: 300px;
                        border:none;
                        border-radius: 5px;
                        box-shadow: 4px 4px #b9f1ee;
                        font-size: 1rem;
                        font-weight: 500;
                        letter-spacing: 1px;
                        font-weight: 600;
                        transition: all .45s ease;"
                    ) }}
                </div> 
            </form>
        </div>
    </body>
{% endblock %}