
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

:root{
	--bg-color: #fff;
    --first-color: #2b96b9;
	--second-color: #000;
    --third-color: #b9f1ee;
    --fourth-color: #1ccae5;
	--main-color: #056892;
	--text-color: #000;
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}

/*section{
	padding: 120px 10% 100px;
}*/

.aboutus{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 1.5rem;
}

.aboutus-img img{
	max-width: 530px;
	height: auto;
	width: 100%;
	border-radius: 8px;
}

.aboutus-text h2{
	font-size: var(--h2-font);
	line-height: 1;

}

.aboutus-text h2 span,
.main-text h2 span {
	color: var(--first-color)
}

.aboutus-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 4rem;
}

.aboutus-text .btn{
    color: var(--bg-color);
}

.btn{
	display: inline-block;
	padding: 12px 28px;
	background: var(--main-color);
	border-radius: 5px;
	color: var(--bg-colorcolor);
	box-shadow: 4px 4px var(--third-color);
	font-size: 1rem;
	letter-spacing: 1px;
	font-weight: 600;
	transition: all .45s ease;
}

.btn:hover{
	background: var(--fourth-color);
	color: #fff;
	box-shadow: 4px 4px var(--main-color);
}

.main-text{
	text-align: center;
}

.main-text p{
	color: var(--second-color);
	font-size: 15px;
	margin-bottom: 15px;
}

.main-text h2{
	font-size: var(--h2-font);
	line-height: 1;
}

/*
.org-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	align-items: center;
	gap: 2.5rem;
	margin-top: 5rem;
}

.org-content .box .dentist-img img{
	width: 100%;
    max-height: auto; 
    display: block;
}

.box{
	background-color: var(--main-color);
	padding: 35px 45px;
	border-radius: 8px;
	transition: all .45s ease;
}

.box .dentist-img {
	display: inline;
	width: 10px;
	height: 10px;
}

.box h3{
	font-size: 24px;
	font-weight: 600;
	color: var(--bg-color);
	margin-bottom: 15px;
}

.box p{
	color: var(--bg-color);
	font-size: 1rem;
	line-height: 1.8;
	margin-bottom: 25px;
}

.box:hover{
	transform: translateY(-8px);
	cursor: pointer;
}*/