@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', 'Sans-serif';
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
    width: 100%;
}

.main--content{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100% - 300px);
    padding: 0 40px;
    overflow-y: scroll;
    transition: .3s;
}

.main--content.active{
    width: calc(100% - 103px);
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 30px;
}

.section--title{
    font-weight: 400;
    
}

.dropdown{
   outline: none; 
   border: none;
   background-color: #f1f4f8;
   border-radius: 5px;
   width: 150px;
   padding: 5px;
}

.cards{
    display: flex;
    gap: 20px;
}

.card{
    padding: 20px;
    border-radius: 20px;
    min-width: 230px;
    height: auto;
    transition: .3s;
    background-color: rgba(200, 230, 250, 0.3);;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card--data{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card h1{
    font-size: 30px;
    margin-top: 10px;
}

.card--icon--1g{
    font-size: 80px;
}

.card--stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;

}

.card--stats span{
    display: flex;
    align-items: center;
}

.card--icon{
    margin-right: 5px;
}

.stat--icon{
    color: #056892;
}

.up--arrow{
    color: #70d7a5;
}

.down--arrow{
    color: #e86786;
}

.card-1 .card--title{
    color: #2b96b9;
}

.card-1 .card--icon--1g{
    color: #2b90b1;
}

.card-2 .card--title{
    color: #2b96b9;
}

.card-2 .card--icon--1g{
    color: #2b90b1;
}

.card-3 .card--title{
    color: #2b96b9;
}

.card-3 .card--icon--1g{
    color: #2b90b1;
}

/* dentists */

.doctors--right--btns{
    display: flex;
    align-items: center;
    gap: 30px;
}

.add{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    outline: none;
    border: none;
    background-color: #2b96b9;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.add:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.add i{
    margin-right: 10px;
    padding: 5px;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
}

.doctors--cards{
    display: flex;
    gap: 20px;
}

.doctor--card{
    padding: 20px;
    border-radius: 20px;
    height: auto;
    transition: .3s;
    border: 2px solid #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8rem;
}

.doctor--card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.img--box--cover{
    border: 1px solid #2b90b1;
    padding: 2px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;

}

.img--box{
    position: relative;
    width: 71px;
    height: 71px;
    overflow: hidden;
    border-radius: 50%;
}

.scheduled{
    color: #2b90b1;
}

/* recent--patients */
.recent--patients .table {
-webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
max-height: 450px; /* Adjust this value as needed */
overflow-y: scroll; /* Enable vertical scrolling */
overflow-x: scroll; /* Hide horizontal scrollbar */
overflow-y: 600px;
}

.table{
    overflow: scroll;
    max-height: 800px; /* Adjust this value as needed */
    overflow-y: 600px;
}

table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    max-height: 100px;
}

tr{
    border-bottom: 1px solid #f1f1f1;
}

td,th{
    padding-block: 10px;
}

.edit{
    color: #70d7a5;
    margin: 10px;
}

.delete{
    color: #e86786;
}

.pending{
    color: #f1d243;
}
.confirmed{
    color: #70d7a5;
}
.rejected{
    color: #e86786;
}

/* responsive starts here */

@media screen and (max-width:1089px){
    .cards, 
    .doctors--cards{
        overflow-x: scroll;
    }
}

@media screen and (max-width:887px){
    table{
        min-width: 710;
    }
}

@media screen and (max-width:787px){
    .logo{
        padding-left: 30px;
        width: fit-content;
    }
    .search--notification--profile{
        padding: 0 20px;
        margin-left: auto;
    }
    .main--content{
        padding: 0 20px;
    }
    .sidebar{
        padding: 0 20px;
    }
    .sidebar.active{
        width: 85px;
    }
    .main--content.active{
        width: calc(100% - 85px);
    }   
}

@media screen and (max-width:590px){
    .search, .lock, .chat{
        display: none;
    }

    .notification--profile{
        margin-left: auto;
    }
    .search--notification--profile{
        width: fit-content;
    }
    .sidebar{
        transform: translateX(-100%);
        z-index: 10;
        background-color: #fff;
    }

    .sidebar.active{
        transform: translateX(0);
        width: 300px;
    }
    .sidebar.active .sidebar--item{
        display: block;
    }
    .main--content{
        width: calc(100% - 0px);
    }
    .main--content.active{
        width: calc(100% - 0px);
    }
}

@media screen and (max-width:450px){
    .doctor--filter{
        display: none;
    }
    .main--content{
        padding: 0 10px;
    }
    .logo{
        padding-left: 10px;
    }
    .search--notification--profile{
        padding: 0 10px;
    }
    .sidebar{
        padding: 10px;
    }
}


.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}
  
  .article-title {
    color: #444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    color: #fff;
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  