body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.appointment_admin-img {
  margin-bottom: 20px; 
  margin-top: 10px;
  text-align: center;
}

.smile-text {
  margin-top: 20px;
  color: #2b96b9;
  margin-bottom: 40px;
}

.appointment_admin-img img {
  width: 100px;
}

.calendar {
  max-width: 500px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
  
.weekdays {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: bold;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
   gap: 3px;
}
  
.days div {
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
}

.days div:hover{
  font-weight: 700;
}
  

.emptyDay:hover, .emptyDayafter:hover {
  background-color: #f0f0f0;
  cursor:  pointer;
}


.selected {
  background-color: #1ccae5; 
  color: white; 
  font-weight: bold; 
  border-radius: 50%; 
  cursor: pointer;
}

.timeSlots {
  text-align: center;
  margin-top: 20px;
  max-width: 500px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.weekdays {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: bold;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
}

.days div {
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
}

.days div.selected {
  background-color: #1ccae5; 
  color: white; 
  font-weight: bold; 
  border-radius: 50%; 
  cursor: pointer;
}

.timeSlots {
  text-align: center;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: Arial, sans-serif;
  color: white;
}

.timeSlotGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 5px;
  margin: 0 auto; 
  max-width: 550px; 
}

.timeSlotItem {
  background-color: #2b96b9;
  color: whitesmoke;
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.disabledSlots {
  display: none;
  padding-top: 150px; 
}

.disabled {
  background-color: #016892;
  color: white;
}

.disabled:hover {
  background-color: #005e83;
  cursor: pointer;
}
.appointmentSlot:hover{
  background-color: #f0f0f0;
  cursor: pointer;
}

.fully-booked {
  background-color: #2b96b9;
  color: white;
  ;
}

.fully-booked:hover {
  background: rgb(41, 116, 141);
  cursor: pointer;
}

.holiday-div {
  background: #428bca;
  color: white;
}

.holiday-div:hover {
  background-color: #457baa;
  cursor: pointer;
}

.timeSlotItem:hover {
background-color: #1ccae5; 
cursor: pointer;
}

.timeSlotItem.selected {
  background-color: #1ccae5; 
  color: white; 
}

#submitButton {
display: none;
padding: 8px 16px;
border: none;
border-radius: 4px;
background-color: #2b96b9; 
color: white;
cursor: pointer;
margin: 10px auto;
}

#submitButton:hover {
background-color: #1ccae5;
}

.selectedSlot {
  margin-top: 20px;
  font-weight: bold;
  text-align: center; 
  margin-bottom: 10px;
}

#servicesDropdown {
  width: 200px; 
  margin: 0 auto; 
}

#servicesDropdown option {
font-size: 16px;
background-color: #fff; 
color: #333; 
margin-bottom: 10px;
}

#servicesDropdown option:checked {
background-color: #1ccae5; 
color: #fff; 
}

#servicesDropdown {
display: none; 
width: 200px; 
margin: 0 auto; 
margin-top: 10px; 
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 900px; 
  margin: 0 auto; 
}

.calendar-container,
.timeSlotContainer {
  width: 50%; 
  margin-bottom: 20px; 
}

.timeSlotContainer {
 width: 50%;
 flex: 1;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.timeSlotContainer .disabledSlots h4{
  font-size: 40px;
}

.selected-info {
  width: 100%;
  text-align: center;
  margin-top: 20px; 
}

.selected-info {
  width: 100%;
  text-align: center;
  margin-top: 20px; 
}
.service-options {
  text-align: center;
  margin-bottom: 10px;
}

.disabledSlotsContainer{
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
  margin-top: -100px; 
  margin-right: -180px; 
}
