body {
    background-color: #f4f4f4;
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    display: flex;
    width: 1400px; 
    margin: 0 auto;
    
}

.calendar {
    flex: 1;
}

.load {
    flex: 1;
    width: 900px;
    margin-left: 100px;
}

.disabledSlots {
    margin-top: 150px;
    flex: 1;
    width: 900px;
    margin-left: 100px;
}

#disabledSlots h4 {
    display: block;
    font-size: 50px; 
}

.appointment_admin-img {
    margin-bottom: 20px; 
    margin-top: 10px; 
    text-align: center;
}

.smile-text {
    margin-top: 20px;
    color: #2b96b9;
}

.appointment_admin-img img {
    width: 100px;
}

.jumbotron {
    background-color: #2b96b9;
    color: white;
    text-align: center;
    margin-bottom: 0;
    padding: 20px; 
    min-height: 200px;
}

.jumbotron p-3 h4 {
    color: #2b96b9;
}

.table {
    display: block; 
    width: 100%; 
    max-width: 900px; 
    margin-top: 20px;
    margin-bottom: 20px; 
    margin-left: auto; 
    margin-right: auto;
    background-color: #ccc;
    color: #000000;
}

.existing-container:empty .table {
    width: 100%; 
}

.confirmed {
    color: #70d7a5;
}

.rejected {
    color: #e86786;
}

.table th {
    background-color: #016892;
    color: white;
    padding: 10px;
    text-align: center;
}

.table td {
    background-color: transparent;
    padding: 10px;
    text-align: center;
}

.btn {
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-primary {
    background-color: #2b96b9;
    color: white;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #0056b3;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    border-radius: 4px;
}

.btn-danger:hover {
    background-color: #c82333;
    color: white;
}

.btn-success {
    background-color: #28a745;
    color: white;
    border-radius: 4px;
}

.btn-success:hover {
    background-color: #218838;
    color: white;
}


.calendar {
    max-width: 500px; 
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px; 
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.weekdays {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: bold;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 3px;
}

.days div {
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
}

.days div:hover{
    font-weight: 700;
}
.disabled {
    background-color: #016892;
    color: white;
}

.disabled:hover {
    background-color: #005e83;
    cursor: pointer;
}

.appointmentSlot:hover {
    background-color: #f0f0f0; 
    cursor: pointer; 
}

.main-container {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    justify-content: space-between; 
}

.calendar {
    width: 65%; 
}

.existing-container {
    max-width: 70%;
    max-height: 430px; 
}

.container--table{
    margin-left: 20px;
    max-height: 400px;
    overflow: auto;
}

.calendar {
    min-width: 500px;
    min-height: 400px; 
}

.existing-container:empty::after {
    content: "No appointments for today";
    display: block;
}

.disabledSlotsContainer{
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    margin-top: -100px; 
    margin-right: -180px; 
    width: 800px;
}

.manage-appointments {
    margin-bottom: 20px; 
    text-align: center;
    font-size: 18px;
  } 

.add-holiday-button-container {
    position: fixed;
    bottom: 10px; 
    left: 70%;
    transform: translateX(-50%);
}

.add-holiday-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #016892;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.haveAppointment {
    background-color: #016892;
    color: white;
}

.add-holiday-button:hover {
    font-weight: 700;
    background-color: #005e83;
}

.haveAppointment:hover {
    background-color: #005e83;
    cursor: pointer;
}    
