@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', 'Sans-serif';
}

:root{
  --first-color: #2b96b9;
  --second-color: #000;
  --third-color: #b9f1ee;
  --fourth-color: #1ccae5;
  --main-color: #056892;
  --bg-color: #fff;
  --text-color: #000;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

body {
  background: #fafafa;
  color: var(--first-color);
  margin-top: 5rem;
}

section{
	padding: 120px 10% 100px;
}

.content-section {
  padding-top: 10%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
}

.bg-steel {
  background-color: #2b96b9;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.logo{
	width: 50px;
	height: auto;
	cursor: pointer;
}

.content-section {
  align-items: center;
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/*Announcement css*/
.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

h2.article-title{
  color: #2b96b9;
}

p.article-content {
  color: #444;
}

.container .row .col-md-4 .content-section h3 {
  font-weight: bold;
}

.list-group-custom li {
  color: #000;
}

.container .content-section h3{
  color: #fff;
}

.clinic-hrs-txt {
  color: #fff;
}

.clinic-hours{
  background-color: #2b96b9;
  padding: 20px; 
}

.content-section .contact-icons i{
  height: 45px;
  width: 45px;
  background: var(--bg-color);
  color: var(--first-color);
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 15px;
  transition: all .45s ease;
}

.content-section .contact-icons i:hover{
  transform: scale(1.1) translateY(5px);
  background: var(--first-color);
  color: var(--bg-color);
}

.pagination a{
  background-color: #fff;
  border-color: #fff;
  color: #2b96b9;
}

.pagination a:hover{
  background-color: #2b96b9;
  color: #fff;
}

table {
  border-radius: 4px;
  border-collapse: collapse;
  width: 100%;
  background-color: #fff; 
}

td {
  border-bottom: 1px solid #2b96b9;
  padding: 8px;
  color: #444444;
}